*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
header{
    height: 230vh;
    width: 100%;
    background-color: #0a192e;
    position: relative;
}
#nav1{
    padding-top: 30px;
}
#ul{
    text-decoration: none;
    font-size: 20px;
    color: #d5d5f7;
    transition: 0.5s;
}
#ul2{
    text-decoration: none;
    font-size: 20px;
    color: #d5d5f7;
    transition: 0.5s;
}
#but1{
    padding: 10px;
    background: transparent;
    color: #64ffda;
    width: 150px;
    border-radius: 15px;
    font-size: 18px;
    transition: 0.5s;
    border: 2px solid #64ffda;
}
#but1:hover{
    background-color: #64ffda;
    color: black;
}
#ul:hover{
    color: #64ffda;
}
#ul2:hover{
    color: #64ffda;
}
#ul1{
    color: #64ffda;
    font-size: 20px;
    
}
#pr1{
    border-radius: 20px;
}

li{
    list-style: none;
}
.a1{
    color: #64ffda;
}
.a2{
    color: white;
    font-size: 70px;
}
.aaa{
    color: #d5d5f7;
    font-size: 20px;
}
#icon{
    cursor: pointer;
    color: #d5d5f7;
    font-size: 25px;
}
#icon:hover{
    color: #64ffda;
}
#ull{
    border: 1px solid #d5d5f7;
    padding: 10px;
    border-radius: 10px;
}
.ab{
    font-size: 100px;
    color: white;
}
.abb{
    font-size: 80px;
    color: white;
}
#but2{
    padding: 10px;
    background: transparent;
    color: #64ffda;
    width: 150px;
    border-radius: 15px;
    font-size: 18px;
    transition: 0.5s;
    margin-left: 840px;
    border: 2px solid #64ffda;
}
#but2:hover{
    background-color: #64ffda;
    color: black;
}

@media(max-width:992px)
{
    .header{
        height: 412vh;
    }
    #but2{
        margin-left: 430px;
    }
}
@media(max-width:768px)
{
    .header{
        height: 620vh;
    }
    #but2{
        margin-left: 310px;
    }
}
@media(max-width:576px)
{
    .header{
        height: 615vh;
    }
    #but2{
        margin-left: 220px;
    }
}