*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.head{
    background-color: #101046;
    height: 90px;
    width: 100%;
}
.header{
    border-bottom: 2px solid#757779;
    border-top: 2px solid #757779;
    background-color: #000036;
    width: 100%;
}
#li{
    color: white;
}
.a{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 1px solid white;
}
#link1{
    color: white;
    transition: 0.5s;
}
#icondiv{
    margin-left: 200px;
    transition: 0.5s;
}
#icondiv:hover{
    background-color: #4934d3;
    border: 1px solid #4934d3;
}
#but1{
    height: 50px;
    background-color: #4934d3;
    border: none;
    border-radius: 15px;
    font-size: 18px;
    color: white;
    position: relative;
    width: 150px;
    z-index: 1;
    font-weight: bold;
    margin-left: 35px;
}
#but1::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    background-color: #242471;
    height: 0%;
    width: 1%;
    transition: 0.5s;
    border-radius: 15px;
}
#but1:hover::before{
    height: 100%;
    width: 100%;
}
#link1:hover{
    color: #03d6f9;
}
#li:hover{
    color: #03d6f9;
}
#link2{
    color: white;
    transition: 0.5s;
}
#link2:hover{
    color: #03d6f9;
}
#icondiv2{
    height: 40px;
    width: 80px;
    border-radius: 50%;
    margin-top: -7px;
    transition: 0.5s;

}
#icondiv2:hover{
    background-color: #4934d3;
    border: 1px solid #4934d3;
    
}
#drop{
    background-color: #101046;
}
.ab{
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #101046;
}
#first{
    color: white;
}
.d{
    background-color: #000036;
    padding-bottom: 200px;
}
.d111{
    padding-top: 150px;
    color: white;
    text-align: center;
    font-size: 55px;
}
.d112{
    color: white;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
}
.d2{
    display: flex;
    justify-content: center;
}
.dd{
    flex-wrap: wrap;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    border: 1px solid #34328a;
}
.dd:hover{
    transform:translateY(8px);
    background-color: #34328a;
}
.dd1{
    margin: 10px;
    border-radius: 25px;
    border: 1px solid #6351a2;
}
.dd2{ 
    padding-bottom: 10px;
    padding-left: 20px;  
    border-bottom: 2px dashed #34328a;
}
.dd21{
    color: white;
    text-decoration: none;
    line-height: 30px;
}
.dd3{
    padding-right: 50px;
    border-right: 2px dashed #34328a;
}
.dd31{
    font-size: 18px;
    padding-left: 25px;
}
.dd32{
    color: #00d6f9;
    padding-left: 25px;
}
.dd41{
    color: white;
    font-size: 18px;
    padding-left: 90px;
}
.dd42{
    color: #fa88b4;
    padding-left: 90px;
}
.img11{
    height: 100%;
    width: 100%;
    border-radius: 26px;
}
.but12{
    margin-top: 100px;
    margin-left: 550px;
    height: 50px;
    background-color: #4934d3;
    border: none;
    border-radius: 15px;
    font-size: 17px;
    color: white;
    position: relative;
    width: 150px;
    z-index: 1;
}
.but12::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    background-color: #242471;
    height: 0%;
    width: 1%;
    transition: 0.5s;
    border-radius: 15px;
}
.but12:hover::before{
    height: 100%;
    width: 100%;
}
#but3{
    height: 55px;
    position: absolute;
    top: 25px;
    background-color: #4934d3;
    border: none;
    border-radius: 15px;
    font-size: 18px;
    color: white;
    position: relative;
    width: 200px;
    z-index: 1;
    font-weight: bold;
}
#but3::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    background-color: #242471;
    height: 0%;
    width: 1%;
    transition: 0.5s;
    border-radius: 15px;
}
#but3:hover::before{
    height: 100%;
    width: 100%;
}
#abcd{
    margin-top: 150px;
}
select{
    width: 150px;
    padding: 6px;
    background: transparent;
    background-color: #242471;
    border: 1px solid #4934d3;
    border-radius: 5px;
    color: white;
}
#input1{
    background: transparent;
    border: 1px solid #4934d3;
    padding: 10px;
    margin-top: 20px;
}
::placeholder{
    color: white;
}
#search{
    margin-left: -30px;
    color: white;
}
#op{
    border: 1px solid #4934d3;
    border-radius: 20px;
    background-color: #34328a;
}
#abcd{
    margin-top: 0px;
    background-color: #000036;
}
#oc{
    margin-top: 70px;
}
.img12{
    padding: 20px;
    width: 357px;
    height: 242px;
    border-radius: 25px;
}
#page{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
   
}
#page1{
    width: 200px;
    margin: auto;
    height: 40px;
    border-radius: 50px;
}
footer{
    padding-top: 200px;
    background-color:#101046;
}
#last{
    margin-top: 5px;
    color: white;
    display: none;
    transition: 0.5s;
}
#lasttext{
    text-decoration: none;
    color: white;
    display: flex;
    transition: 0.5s;
}
#lasttext:hover #last{
    display: block;
    color: #03d6f9;
}
#lasttext:hover{
    color: #03d6f9;
    transform: translateY(5px);
}
#z1{
    margin-top: -350px;
    background-color: #242471;
    border-radius: 30px;
    padding: 30px;
}
input{
    background: transparent;
    border: 1px solid #4934d3;
    padding: 15px;
    width: 450px;
    border-radius: 10px;
}
::placeholder{
    color: #d0d0d0;
}

.but13{
    margin-left: 20px;
    height: 55px;
    background-color: #4934d3;
    border: none;
    border-radius: 12px;
    font-size: 17px;
    color: white;
    position: relative;
    width: 150px;
    z-index: 1;
}
.but13::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    background-color: #242471;
    height: 0%;
    width: 1%;
    transition: 0.5s;
    border-radius: 15px;
}
.but13:hover::before{
    height: 100%;
    width: 100%;
}
#footer{
    margin-top: 100px;
}
.lastdiv1{
    height: 50px;
    width: 50px;
    background-color: #4934d3;
    border-radius: 12px;
}
.lastdiv2{
    height: 50px;
    width: 50px;
    background-color: #03d6f9;
    border-radius: 12px;
}
#lastfb{
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin-top: 10px;
    margin-left: 10px;
}
.lastdiv3{
    height: 50px;
    width: 50px;
    background-color: #6e3cd2;
    border-radius: 12px;
}
.lastdiv4{
    height: 50px;
    width: 50px;
    background-color: #ac2e2e;
    border-radius: 12px;
}
#dcyt{
    border-top: 1px solid #4934d3;
}
span{
    color: #03d6f9;
}